:root{
    --place-clr: hsl(75, 94%, 57%);
    --text-clr: hsl(0, 0%, 100%);
    --btn-bg-clr: hsl(0, 0%, 20%);
    --card-bg-clr : hsl(0, 0%, 12%);
    --bg-clr: hsl(0, 0%, 8%);

}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body { 
    font-family: "Inter", serif; 
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    color:var(--text-clr);
    background-color: var(--bg-clr);

}

.Container{

    text-align: center;
    padding: 40px 33px;
    width: 315px;
    color:var(--text-clr);
    background-color: var(--card-bg-clr);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

img{
    border-radius: 50%;
    width: 40%;   
} 

.label{
  color: var(--place-clr);
  margin-top: 8px;
  margin-bottom: 15px;

  
}

.buttons{
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.button{ 
    border-radius: 7px;
    background-color:var(--btn-bg-clr);
    color:var(--text-clr) ;
    padding: 10px;
    cursor: pointer;
   

}
   

.button:hover{
    
background-color: hsl(75, 94%, 57%);
color: black;

}


